/.bundle/
/.vscode/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

.rubocop.yml

Gemfile.lock

shifty-*.gem
.secrets

# Agent files
AGENT.md
CLAUDE.md
.claude/settings.local.yaml
